@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

body {
    background-image: url(white-gray.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    text-align: center;
}

div > img {
    width: 30%;
}

h1, h2 {
    text-align: center;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    padding: 10px 0px 10px 0px;
}

form {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    margin: 25px auto 10px auto ;
    width: 600px;
    padding: 2em;
    border: 10px solid #fcc204;
    border-radius: 1.5em;
    background-color: #dfdedb;
}

form li + li {
  margin-top: 1em;
  
}

label {
  width: 90px;
  text-align: left;
}

.inventory-table {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
    border:10px solid #fcc204;
    font-family: 'Dancing Script', cursive;
}

button {
  margin-left: .5em;
  margin-top: 1em;
  font-family: 'Dancing Script', cursive;
  color: #000;
  background-color: #dfdedb;
  font-size: 25px;
}

.div-buttons {
    display: grid;
}

.hide {
    display: none;
}